# Dependencies
node_modules/
dist/
dist-ssr/
.DS_Store

# Vercel
.vercel

# Build output
*.log
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
